body {
	font:100%/1.6 arial, helvetica, sans-serif;
}

h1,
h3 {
	text-align: center;
}

img {
	display: block;
	margin: auto;
	max-width: 100%;
}

p {
	color: black;
	text-align: center;
}

.page-header {
	color: #2d3c49;
}

#featured_work,
#main_pic {
	margin-bottom: 10px;
}

#name {
	text-align: center;
	text-transform: uppercase;
}

.divider {
	height: 4px;
	width: 100%;
	display: block;
	background: #7d97ad;
	margin: 10px 0;
	overflow: hidden;
}

article {
	text-align: center;
}